<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lixin.amuseadjacent">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->


    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.ui.entrance.SginInActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--///////////////////////////////查看图片\\\\\\\\\\\\\\\\\\\\\\\\\-->
        <activity android:name=".photoView.imagepage.ImagePagerActivity" />

        <activity
            android:name=".app.ui.MainActivity"
            android:screenOrientation="portrait" />

        <!--登录2-->
        <activity
            android:name=".app.ui.entrance.SginInActivity2"
            android:screenOrientation="portrait" />
        <!--验证、密码登录-->
        <activity
            android:name=".app.ui.entrance.VerificationPasswordActivity"
            android:screenOrientation="portrait" />
        <!--忘记密码-->
        <activity
            android:name=".app.ui.entrance.ForgetPassActivity"
            android:screenOrientation="portrait" />
        <!--注册-->
        <activity
            android:name=".app.ui.entrance.RegisterActivity"
            android:screenOrientation="portrait" />
        <!--个人形象-->
        <activity
            android:name=".app.ui.entrance.PersonalImageActivity"
            android:screenOrientation="portrait" />

        <!--完善个人形象-->
        <activity
            android:name=".app.ui.entrance.PerfectImageActivity"
            android:screenOrientation="portrait" />

        <!--、、、、、、、、、、、、、、、、、、、、、、消息、、、、、、、、、、、、、、、、、、、、-->
        <!--通讯录-->
        <activity
            android:name=".app.ui.message.activity.MailActivity"
            android:screenOrientation="portrait" />
        <!--添加朋友-->
        <activity
            android:name=".app.ui.message.activity.AddFriendsActivity"
            android:screenOrientation="portrait" />

        <!--二维码扫描-->
        <activity
            android:name="com.lixin.amuseadjacent.zxing.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <!--搜索-->
        <activity
            android:name=".app.ui.message.activity.SearchActivity"
            android:screenOrientation="portrait" />
        <!--官方消息-->
        <activity
            android:name=".app.ui.message.activity.OfficialNewsActivity"
            android:screenOrientation="portrait" />
        <!--评论消息-->
        <activity
            android:name=".app.ui.message.activity.CommentNewsActivity"
            android:screenOrientation="portrait" />
        <!--评论消息-->
        <activity
            android:name=".app.ui.message.activity.OrderNewsActivity"
            android:screenOrientation="portrait" />


        <!--//////////////////////////发现\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->

        <!--达人-->
        <activity
            android:name=".app.ui.find.activity.TalentActivity"
            android:screenOrientation="portrait" />
        <!--达人认证-->
        <activity
            android:name=".app.ui.find.activity.TalentAuthenticationActivity"
            android:screenOrientation="portrait" />
        <!--达人经历添加-->
        <activity
            android:name=".app.ui.find.activity.TalentAuthenticationAddActivity"
            android:screenOrientation="portrait" />
        <!--达人类型选择-->
        <activity
            android:name=".app.ui.find.activity.TalentTypeActivity"
            android:screenOrientation="portrait" />

        <!--动态-->
        <activity
            android:name=".app.ui.find.activity.DynamicActivity"
            android:screenOrientation="portrait" />
        <!--动态发布-->
        <activity
            android:name=".app.ui.find.activity.DynamicReleaseActivity"
            android:screenOrientation="portrait" />
        <!--动态详情-->
        <activity
            android:name=".app.ui.find.activity.DynamicDetailsActivity"
            android:screenOrientation="portrait" />
        <!--选择地址-->
        <activity
            android:name=".app.ui.find.activity.SelectionAddressActivity"
            android:screenOrientation="portrait" />

        <!--动态详情回复-->
        <activity
            android:name=".app.ui.find.activity.DynamicDetailsReplyActivity"
            android:screenOrientation="portrait" />

        <!--活动-->
        <activity
            android:name=".app.ui.find.activity.EventActivity"
            android:screenOrientation="portrait" />

        <!--活动发布-->
        <activity
            android:name=".app.ui.find.activity.EventReleaseActivity"
            android:screenOrientation="portrait" />
        <!--活动详情-->
        <activity
            android:name=".app.ui.find.activity.EventDetailsActivity"
            android:screenOrientation="portrait" />
        <!--报名列表-->
        <activity
            android:name=".app.ui.find.activity.EventEnteredActivity"
            android:screenOrientation="portrait" />

        <!--报名-->
        <activity
            android:name=".app.ui.find.activity.EventSginUpActivity"
            android:screenOrientation="portrait" />


        <!--红人榜-->
        <activity
            android:name=".app.ui.find.activity.RedManListActivity"
            android:screenOrientation="portrait" />
        <!--帮帮-->
        <activity
            android:name=".app.ui.find.activity.BangBangActivity"
            android:screenOrientation="portrait" />
        <!--帮帮详情-->
        <activity
            android:name=".app.ui.find.activity.BangDetailsActivity"
            android:screenOrientation="portrait" />


        <!--//////////////////////////////////////服务\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\-->
        <!--店铺-->
        <activity
            android:name=".app.ui.service.activity.OfficialShopActivity"
            android:screenOrientation="portrait" />

        <!--专区-->
        <activity
            android:name=".app.ui.service.activity.SpecialAreaActivity"
            android:screenOrientation="portrait" />
        <!--洗衣洗鞋-->
        <activity
            android:name=".app.ui.service.activity.LaundryActivity"
            android:screenOrientation="portrait" />
        <!--洗衣洗鞋详情-->
        <activity
            android:name=".app.ui.service.activity.OfficialShopDetailsActivity"
            android:screenOrientation="portrait" />

        <!--小区店铺-->
        <activity
            android:name=".app.ui.service.activity.PopularShopActivity"
            android:screenOrientation="portrait" />
        <!--小区店铺详情-->
        <activity
            android:name=".app.ui.service.activity.PopularShopDetailsActivity"
            android:screenOrientation="portrait" />

        <!--购物车-->
        <activity
            android:name=".app.ui.service.activity.ShopCarActivity"
            android:screenOrientation="portrait" />

        <!--个人主页-->
        <activity
            android:name=".app.ui.mine.activity.PersonalHomePageActivity"
            android:screenOrientation="portrait" />


    </application>

</manifest>